body {
    background: #ffffff;
}

#wrapper {
    background-color: rgba(255, 255, 255, 0.98);
    width: 768px;
    margin: 0 auto;
}
#header {
    width: 100%;
}
#menuwrapper {
    width: 100%;
}
#content {
    width: 100%;
}

#keepit {
    width: 100%;
    display: block;
    margin: 0;
}

#simplestupid {
    font-family: "Courier New";
    font-size: 3em;
    margin: 0 0 0 0.3em;
}

ol.menu {
    list-style: none;
    display: inline-block;
    width: 100%;
    margin: 0;
}

ol.menu li {
    float: left;
    padding: 0 4px;
}

ol.menu a {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
}
ol.menu a:hover {
    text-decoration: underline;
}

ol.menulevel0 {
    background: rgb(233, 233, 233);
}

ol.menulevel1 {
    background: rgb(128, 128, 128);
}

ol.menulevel1 a {
    color: #222222;
}


.footerrule {
    height: 1px;
    color: #000000;
}
#footerinfo {
    font-family: "Georgia";
    font-size: 12px;
}

img.uml {
    max-width: 100%;
}


.codehilite pre {
    counter-reset: line-numbering;
    border: solid 1px #d9d9d9;
    border-radius: 0;
    background: #fff;
    padding: 0;
    line-height: 23px;
    margin-bottom: 30px;
    white-space: pre;
    overflow-x: auto;
    word-break: inherit;
    word-wrap: inherit;
}

.codehilite pre a::before {
  content: counter(line-numbering);
  counter-increment: line-numbering;
}
.codehilite pre a::before, .codehilite pre span.lineno {
  padding-right: 1em; /* space after numbers */
  width: 25px;
  text-align: right;
  opacity: 0.7;
  display: inline-block;
  color: #aaa;
  background: #eee;
  margin-right: 16px;
  padding: 2px 10px;
  font-size: 13px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.codehilite pre a:first-of-type::before {
  padding-top: 10px;
}

.codehilite pre a:last-of-type::before {
  padding-bottom: 10px;
}

.codehilite pre a:only-of-type::before {
  padding: 10px;
}
