body {
    background-image: url(/IMG_2071.JPG);
    background-size: 100% auto;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
}

#content a {
    color: #000000;
}

#content a:visited {
    color: #555555;
}

#content a:hover {
    text-underline: none;
}

#content ol, #content ul {
    margin-left: 30px;
}

#content {
    padding: 0 50px;
}

#wrapper {
    background-color: rgba(255, 255, 255, 0.7);
    width: 868px;
    margin: 0 auto;
}
#header {
    width: 100%;
}
#menuwrapper {
    width: 100%;
}
#content {
    width: 100%;
}

#keepit {
    width: 100%;
    display: block;
    margin: 0;
}

#simplestupid {
    font-family: "Courier New";
    font-size: 3em;
    margin: 0 0 0 0.3em;
}

ol.menu {
    list-style: none;
    display: inline-block;
    width: 100%;
    max-width: 10000px;
    margin: 0;
}

ol.menu li {
    float: left;
    padding: 0 4px;
}

ol.menu a {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
}
ol.menu a:hover {
    text-decoration: underline;
}

ol.menulevel0 {
    background: rgb(145, 167, 107);
    background: -moz-linear-gradient(left, rgba(145, 167, 107,1) 0%, rgba(145, 167, 107,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(145, 167, 107,1)), color-stop(100%,rgba(145, 167, 107,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(145, 167, 107,1) 0%,rgba(145, 167, 107,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(145, 167, 107,1) 0%,rgba(145, 167, 107,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(145, 167, 107,1) 0%,rgba(145, 167, 107,0) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(145, 167, 107,1) 0%,rgba(145, 167, 107,0) 100%); /* W3C */
}

ol.menulevel1 {
    background: rgb(185, 207, 147);
    background: -moz-linear-gradient(left, rgba(185, 207, 147,1) 0%, rgba(185, 207, 147,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(185, 207, 147,1)), color-stop(100%,rgba(185, 207, 147,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(185, 207, 147,1) 0%,rgba(185, 207, 147,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(185, 207, 147,1) 0%,rgba(185, 207, 147,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(185, 207, 147,1) 0%,rgba(185, 207, 147,0) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(185, 207, 147,1) 0%,rgba(185, 207, 147,0) 100%); /* W3C */
}

ol.menulevel2 {
    background: rgb(225, 247, 187);
    background: -moz-linear-gradient(left, rgba(225, 247, 187,1) 0%, rgba(225, 247, 187,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(225, 247, 187,1)), color-stop(100%,rgba(225, 247, 187,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(225, 247, 187,1) 0%,rgba(225, 247, 187,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(225, 247, 187,1) 0%,rgba(225, 247, 187,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(225, 247, 187,1) 0%,rgba(225, 247, 187,0) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(225, 247, 187,1) 0%,rgba(225, 247, 187,0) 100%); /* W3C */
}

ol.menulevel1 a {
    color: #222222;
}


.footerrule {
    height: 1px;
    color: #000000;
}
#footerinfo {
    font-family: "Georgia";
    font-size: 12px;
}

img.default {
    float: left;
    margin: 1em;
    width: 350px;
}

img.uml {
    max-width: 100%;
}


.codehilite pre {
    counter-reset: line-numbering;
    border: solid 1px #d9d9d9;
    border-radius: 0;
    background: #fff;
    padding: 0;
    line-height: 23px;
    margin-bottom: 30px;
    white-space: pre;
    overflow-x: auto;
    word-break: inherit;
    word-wrap: inherit;
}

.codehilite pre a::before {
  content: counter(line-numbering);
  counter-increment: line-numbering;
}
.codehilite pre a::before, .codehilite pre span.lineno {
  padding-right: 1em; /* space after numbers */
  width: 25px;
  text-align: right;
  opacity: 0.7;
  display: inline-block;
  color: #aaa;
  background: #eee;
  margin-right: 16px;
  padding: 2px 10px;
  font-size: 13px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.codehilite pre a:first-of-type::before {
  padding-top: 10px;
}

.codehilite pre a:last-of-type::before {
  padding-bottom: 10px;
}

.codehilite pre a:only-of-type::before {
  padding: 10px;
}
